{% extends 'base.html' %}
{% load i18n %}

{% block title %}Downloads{% endblock %}

{% block content %}
	<h1>{% trans 'Downloads for' %} {{ cache.id }}: {{ cache.name }}</h1>
	<ul>
	{% for download in cache.downloads %}
		<li><a href="{{ download.download_file }}">{{ download.name }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
